



<a href= "{{redirect_url}}"  target=”_blank” style="text-decoration: none;">
    <div class="ad_video_container" style="text-align:center;border: black solid 1px ;display: flex; flex-direction: column;justify-content: center;align-items: center; width:{{width}}px;">
        <video width="{{width}}px" height="{{heigth}}px" fullscreen="false" autoplay webkit-playsinline controls loop muted>
            <source src="{{url}}" type="video/mp4" />
            Your browser does not support the video tag.
        </video>
        <div class="ad_text" style="font-weight: bold;text-align:center;color:black;margin-top:{{text_margin_top}}px;font-size: {{text_font_size}}px; font-family:'Courier New', Courier, monospace;align-items: center; width:{{width}}px;">
            {{text}}
        </div>
    </div>
    
</a>